#container{
    display: block;
    margin: auto;
    text-align: center;
    background-color: rgb(233, 70, 70);
    height: 100vh;
    width: auto;
    img{
        margin: 20px 0;
        height: 200px;
        width: auto;
    }
}