@use "./../../../assets/styles/variables.scss";

// Fondo general del sitio
.fondo-conversor {
    background: linear-gradient(90deg, #c0c0c0, #464646); // fondo degradado como en la imagen
    text-align: center;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Para separar top y bottom */
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px; /* espacio para no tapar con navbar */
}

h3 {
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.container {
    background: linear-gradient(180deg, #d9d9d9, #777777); /* Un gris más suave que combine */
    border-radius: 25px;
    width: 260px;
    max-width: 90%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.container-svg, .container-svg-dolares {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 190px;
    margin: 10px 0;
    border-radius: 10px;
    flex-direction: column;
    position: relative;
}


.botones button {
    background-color: #f5f5f5;
    color: #333;
    width: 180px;
    height: 40px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

// Animación al pasar el mouse
.botones button:hover {
    background-color: #e0e0e0;
}

// Ajustes del contenedor de botones
.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: none; /* Quitar cualquier sombra rara */
    padding: 0;
    margin-top: 20px;
}
