
<div class="fondo-conversor">
    <div class="container">
    <div class="contador-usos">
        <h3>usos del conversor
            <p class="mt-10">{{ user.subscriptionId === 9 ? 'Conversiones Ilimitadas' : 'Conversiones restantes: ' + (remainingConversions < 0 ? 0 : remainingConversions) }}</p>
        </h3>
        
    </div>

    <div class="container-svg-dolares">
        <p>
            <p>
            <select class="p-10 " [(ngModel)]="conversion.targetCurrencyId">
                <option *ngFor="let currency of currencies" [value]="currency.id">{{ favoriteCurrenciesSet.has(currency.id) ? '★ ' + currency.symbol : currency.symbol }} {{currency.name}}</option>
            </select>
        </p>
    </div>

    <div class="divisor">
        <p>divisor</p>
    </div>

    <div class="container-svg">
       
        <select class="p-10 " [(ngModel)]="conversion.sourceCurrencyId">
            <option *ngFor="let currency of currencies" [value]="currency.id">{{ favoriteCurrenciesSet.has(currency.id) ? '★ ' + currency.symbol : currency.symbol }} {{currency.name}}</option>
            </select>
            <div class="mt-20">
                <input type="text" placeholder="Monto a convertir" [(ngModel)]="conversion.originalAmount">
            </div>
    </div>

    <div class="botones">
        <div id="paddingg">
            <button (click)="confirmarConversion()">exchange</button>    
        </div>
        <button id="mon-fav">monedas favoritas</button>    
    </div>

    </div>
</div>