<div class="fondo-conversor">
    <div class="container">
    <div class="contador-usos">
        <h3>usoso del conversor
        <p>X</p>
        </h3>
        
    </div>
    <div class="dolares-fondo">    
        <p>IC EU esperando 
            $00
        </p>
    </div>
    <div class="container-svg">
        <p>
        <button>
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                <path d="M480-345 240-585l56-56 184 183 184-183 56 56-240 240Z"/></svg>
        </button>
        IC pesos argentinos ARS
        </p>
        <input type="number">

        <button>monedas favoritas</button>
        <button>exchange</button>
    </div>
    </div>
</div>