@use "./../../../assets/styles/variables.scss";

.fondo-conversor {
    background-color: #464646;
    text-align: center;
    height: 100vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around; /* Distribuir espacio uniformemente alrededor de los elementos */
    align-items: center;
}
.divisor{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #464646;
    color: #464646;
}

.contador-usos{
    background-color: #464646;
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.container {
    display: flex;
    background-color: #D9D9D9;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 250px;
    max-height: 490px;
    border-radius: 25px;
    flex-direction: column;
}
.container-svg {
    display: flex;
    background-color: #D9D9D9;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 190px;
    border-radius: 10px;
    flex-direction: column;
}


#mon-fav{
    display: flex;
    flex-direction: column;
    width: 94px;
    height: 45px;
}

.botones{
    background-color: #464646;
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#paddingg{
    padding-bottom: 20px;
    padding-top: 20px;

}

h3{
    display: flex;
    color: #D9D9D9;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-svg {
    position: relative;
  }
  
  .dropdown-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    padding: 10px;
  }
  



