<div class="fondo-conversor">
    <div class="container">
    <h3>cantidad usos x</h3>
    <p>IC EU esperando 
        $00
    </p>
    <div class="container-svg">
        <p>
        <button>
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                <path d="M480-345 240-585l56-56 184 183 184-183 56 56-240 240Z"/></svg>
        </button>
        IC pesos argentinos ARS
        </p>
        <p>(ingrese el monto que desea cambiar a dolares)</p>
        <input type="number">
        <button>monedas favoritas </button>
        <button>exchange</button>
    </div>
    </div>
</div>