 <div class="center">
    <h1>money converter</h1>
    <form  #loginForm="ngForm" (ngSubmit)="login()" class="registro-form">
      <div class="inputbox">
        <input type="text" name="Email" id="Email" [(ngModel)]="loginData.Email" #Email="ngModel"
        placeholder="Email" autocomplete="email" required>
        <p *ngIf="Email.invalid && (Email.dirty || Email.touched)" class="error">Este campo es requerido</p>
        <span>Email</span>
      </div>
      <div class="inputbox">
        <input type="Password" name="Password" id="Password" placeholder="Password"
        autocomplete="current-Password" required minlength="5" [(ngModel)]="loginData.Password" #Password="ngModel">
        <p class="error" *ngIf="Password.invalid && (Password.dirty || Password.touched)">La contraseña debe tener al menos 8 caracteres</p>
        <span>Password</span>
      </div>
      <div class="inputbox">
        <input valur="'submit" type="submit" [disabled]="loginForm.invalid">
        <p class="escondido error">Error al iniciar sesión</p>
      </div>
    </form>
    <p class="link" >¿Todavía no tenés una cuenta? - <a [routerLink]="['/start/register']" routerLinkActive="router-link-active">Registrate</a></p>
  </div>