@use"./../assets/styles/variables.scss";
div{
    min-height: 100vh;
}

app-footer{
    text-align: center;
    background-color: variables.$color-fondo;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4%;
}

router-oulet{
    background-color: variables.$color-fondo;
}
