<div class="container">
  <div class="form-container">
    <form #registerForm="ngForm" (ngSubmit)="register()" class="registro-form">
      <label for="user" class="cartel">Registrate, Ya!</label>
        
      <label for="user" class="sr-only">Name de usuario</label>
        <input type="text" name="user" id="user" placeholder="Usuario" autocomplete="username" minlength="4" required="true" [(ngModel)]="registerData.Username" #Username="ngModel">
        <p class="error" *ngIf="Username.invalid && (Username.touched || Username.dirty)">Ingrese un Name de usuario válido</p>
        
        <label for="Name" class="sr-only">Name</label>
        <input type="text" name="Email" id="Email" placeholder="Email" autocomplete="Email" minlength="3" [(ngModel)]="registerData.Email" #Email="ngModel">
        <p class="error" *ngIf="Email.invalid && (Email.touched || Email.dirty)">Ingrese un Email válido</p>
        
        <label for="FirstName" class="sr-only">FirstName</label>
        <input type="text" name="FirstName" id="FirstName" placeholder="FirstName" autocomplete="FirstName" minlength="3" [(ngModel)]="registerData.FirstName" #FirstName="ngModel">
        <p class="error" *ngIf="FirstName.invalid && (FirstName.touched || FirstName.dirty)">Ingrese un nombre valido</p>
        
        <label for="LastName" class="sr-only">apellido</label>
        <input type="LastName" name="LastName" id="LastName" placeholder="LastName" autocomplete="LastName" minlength="5" [(ngModel)]="registerData.LastName" #LastName="ngModel">
        <p class="error" *ngIf="LastName.invalid && (LastName.touched || LastName.dirty)">Ingrese un apellido valido</p>
        
        <label for="Password" class="sr-only">Contraseña</label>
        <input type="Password" name="Password" id="Password" placeholder="Password" autocomplete="Password" minlength="5" [(ngModel)]="registerData.Password" #Password="ngModel">
        <p class="error" *ngIf="Password.invalid && (Password.touched || Password.dirty)">Ingrese una contraseña valida</p>

        <button type="submit">Registrate</button>
        <p *ngIf="errorRegister()" class="error">Error en el registro</p>
        <span class="loader" *ngIf="cargando()"></span>   
        <p>¿Ya tienes cuenta? - <a [routerLink]="['/login']">Inicia sesión</a></p>
    </form>
    </div>
  </div>