
  <div class="center">
    <h1>Our Newsletter</h1>
    <form #registerForm="ngForm" (ngSubmit)="register()" class="registro-form">
      <div class="inputbox">
        <input type="text" name="user" id="user" placeholder="Usuario" autocomplete="username" minlength="4" required="true" [(ngModel)]="registerData.Username" #Username="ngModel">
        <p class="error" *ngIf="Username.invalid && (Username.touched || Username.dirty)">Ingrese un Name de usuario válido</p>
        <span>username</span>
      </div>

      <div class="inputbox">
        <input type="text" name="Email" id="Email" placeholder="Email" autocomplete="Email" minlength="3" [(ngModel)]="registerData.Email" #Email="ngModel">
        <p class="error" *ngIf="Email.invalid && (Email.touched || Email.dirty)">Ingrese un Email válido</p>
        <span>email</span>
      </div>

      <div class="inputbox">
        <input type="text" name="FirstName" id="FirstName" placeholder="FirstName" autocomplete="FirstName" minlength="3" [(ngModel)]="registerData.FirstName" #FirstName="ngModel">
        <span class="error" *ngIf="FirstName.invalid && (FirstName.touched || FirstName.dirty)">Ingrese un nombre valido</span  >
        <span>First Name</span>
      </div>

      <div class="inputbox">
        <input type="LastName" name="LastName" id="LastName" placeholder="LastName" autocomplete="LastName" minlength="5" [(ngModel)]="registerData.LastName" #LastName="ngModel">
        <p class="error" *ngIf="LastName.invalid && (LastName.touched || LastName.dirty)">Ingrese un apellido valido</p>
        <span>lastname</span>
      </div>

      <div class="inputbox">
        <input type="Password" name="Password" id="Password" placeholder="Password" autocomplete="Password" minlength="5" [(ngModel)]="registerData.Password" #Password="ngModel">
        <p class="error" *ngIf="Password.invalid && (Password.touched || Password.dirty)">Ingrese una contraseña valida</p>
        <span>Password</span>
      </div>

      <div class="inputbox">
        <button type="submit">Registrate</button>
        <p *ngIf="errorRegister()" class="error">Error en el registro</p>
        <span class="loader" *ngIf="cargando()"></span>   
      </div>
      <p class="link" >¿Ya tienes cuenta? - <a [routerLink]="['/start/login']">Inicia sesión</a></p>
    </form>
  </div>