// Variables
@use "./../../../assets/styles/variables.scss";

// Estilos generales
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content; // El contenedor se ajustará al contenido que contiene
    margin: 0 auto; // Para centrar el contenedor horizontalmente
    /* Resto de estilos */
}

.fondo-login {
    background-color: #ccc;
    text-align: center;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    // Estilos para elementos dentro de fondo-login
    input {
        margin: 10px 0;
    }



    button {
        width: 100%;
        border: unset;
    }
}

// Estilos para tarjetas de suscripción
.card {
    width: 300px;
    height: 160px;
    border-radius: 15px; 
    color: variables.$color-input-plan-premiun;
    transition: transform 0.5s ease-out;
    display: flex;
    align-items: center;
    

    // Estilos para encabezado de tarjeta
    .card-header {
        h3 {
            font-weight: bold;
        }

        p {
            font-weight: bold;
        }
    }

    // Estilos para cuerpo de tarjeta
    .card-body {
        ul {
            li {
                font-weight: bold;
            }
        }
    }
    
}

.pro-plan {
    background-color: variables.$color-input-plan-premiun
}

.free-plan {
    background-color: variables.$color-input-planes;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05); // Aumentar ligeramente el tamaño al acercar el mouse
    }

}
.trial-plan {
    background-color: variables.$color-input-plan-trial
}
