$alto-header: 100px;
$alto-footer: 16px;
$alto-body: calc( 100vh - $alto-header - $alto-footer);


$color-fondo: #464646;
$color-inputs:#584C4C;
$color-acento: #910045;
$color-error: red;
$color-texto: rgb(0, 0, 0);
$color-forms-header:#D9D9D9;
$color-texto-invertido: white;
$color-input-planes: #B4A8A8;
$color-input-plan-trial: #907D7D;
$color-input-plan-premiun: #C8FDCD;